// $danger: rgb(100,250,255);

// @import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/normalize.css/normalize";

:root {
   --text-color: #2a2824;
   --light-text-color: #7d786c;
   --background-color: #f7f5ef;
   --card-background-color: #eee8da;
   --card-shadow-color: #7d786c;
   --link-color: #006992;
   --hover-link-color: #27476e;

   --form-error-color: #eca400;
}

* {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  box-sizing: border-box;
  color: var(--text-color);
}

body {
  background-color: var(--background-color);
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body > header {
  // background-color: var(--contrast-color);
  margin: 1rem 1rem 0 1rem;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

body > header > h1 {
  margin: 0;
  font-size: 1rem;
}

body > header > nav > ul {
  margin: 0;
  text-align: right;
}

body > header > nav > ul > li {
  display: inline;
  padding-left: 1rem;
}

dd.empty {
  color: var(--light-text-color);
}

.card {
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--card-background-color);
  box-shadow: 1px 1px 4px var(--card-shadow-color);
}

.card > header {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--light-text-color);
}

h1, h2 {
  color: var(--light-text-color);
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:visited {
  color: var(--link-color);
}

a:hover {
  color: var(--hover-link-color);
}

input {
  color: var(--light-text-color);
}

form .field {
  margin-bottom: 1rem;
}

form .field label {
  display: block;
  color: var(--light-text-color);
}

form .field input {
  display: block;
  font-size: 2rem;
  width: 100%;
}

form .field select {
  display: block;
  font-size: 2rem;
  color: var(--light-text-color);
  width: 100%;
  border-radius: 0;
}

button.btn {
  margin-top: 1rem;
  display: block;
  font-size: 2rem;
  border: none;
  border-radius: 4px;
  color: var(--background-color);
  background-color: var(--link-color);
}

button.btn:hover {
  background-color: var(--hover-link-color);
}

form .error {
  color: var(--form-error-color);
}

form.link {
  display: inline;
}

form.link > button {
  border: none;
  background: none;
  padding: 0;
  color: var(--link-color);
  cursor: pointer;
}

form.link > button:hover {
  color: var(--hover-link-color);
}
