sessions:
<% (1..ENV.fetch("N", 1).to_i).each do |n| %>
  <% port = 4000 + n %>
  -
    command_name: build/booklog
    command_args:
      - serve
      - --insecure-dev-mode
      - --http-service-address=127.0.0.1:<%= port %>
      - --database-url=postgres:///booklog_test_<%= n %>
    stdout: tmp/test/<%= n %>.stdout
    stderr: tmp/test/<%= n %>.stderr
    app_host: http://127.0.0.1:<%= port %>
    database_url: postgres:///booklog_test_<%= n %>
<% end %>
