{{define "content"}}
<h1>Books I Have Read</h1>
<div class="text-danger">Haha</div>
<a href="{{ newBookPath }}">New Book</a>
  {{ $csrfField := .csrfField }}
  {{range .Books}}
    <div class="row">
      <div class="col">{{ .Title }}</div>
      <div class="col">{{ .Author }}</div>
      <div class="col">{{ .DateFinished.Format "1/2/2006" }}</div>
      <div class="col">{{ .Media }}</div>
      <div class="col">
        <a href="{{ editBookPath .ID }}">Edit</a>
        <form action="{{ bookPath .ID }}" method="post">
          <input type="hidden" name="_method" value="DELETE">
          {{ $csrfField }}
          <button type="submit">Delete</button>
        </form>
      </div>
    </div>
  {{end}}
{{end}}
