{{define "content"}}
<div class="card">
  <header>New Book</header>

  <form action="{{ BooksPath .username }}" method="post">
    {{ .csrfField }}
    <div class="field">
      <label for="title">Title</label>
      <input type="text" name="title" id="title" value="{{ .fields.Title }}" >
      {{ range .errors.Get "title" }}<div class="error">{{ . }}</div>{{ end }}
    </div>

    <div class="field">
      <label for="author">Author</label>
      <input type="text" name="author" id="author" value="{{ .fields.Author }}" >
      {{ range .errors.Get "author" }}<div class="error">{{ . }}</div>{{ end }}
    </div>

    <div class="field">
      <label for="finishDate">Finish Date</label>
      <input type="date" name="finishDate" id="finishDate" value="{{ .fields.FinishDate }}" >
      {{ range .errors.Get "finishDate" }}<div class="error">{{ . }}</div>{{ end }}
    </div>

    <div class="field">
      <label for="media">Media</label>
      <input type="text" name="media" id="media" value="{{ .fields.Media }}" >
      {{ range .errors.Get "media" }}<div class="error">{{ . }}</div>{{ end }}
    </div>

    <button type="submit">Save</button>
  </form>
</div>
{{end}}
