<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Booklog</title>
    <link rel="stylesheet" href="/static/css/main.css">
  </head>
  <body>
    <header>
      <h1><a href="/">Booklog</a></h1>
      <nav>
        <ul>
          {{ if .username }}
          <li><a href="{{ newBookPath .username }}">New Book</a></li>
          {{ end }}
          {{ if .session.IsAuthenticated }}
          <li>
            <form action="{{ logoutPath }}" method="POST">
               {{ .csrfField }}
              <button>Logout</button>
            </form>
          {{ else }}
          <li><a href="{{ newLoginPath }}">Login</a></li>
          {{ end }}
        </ul>
      </nav>
    </header>
    <div class="content">
      {{template "content" .}}
    </div>
  </body>
</html>
