{{template "layout_header.html" .}}
<div class="card">
  <header>Login</header>

  <form action="{{LoginPath}}" method="post">
    {{.bva.CSRFField}}

    {{range .verr.Get "base"}}
      <div class="error">{{.}}</div>
    {{end}}

    <div class="field">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" value="{{.form.Username}}" autofocus required>
      {{range .verr.Get "username"}}
        <div class="error">{{.}}</div>
      {{end}}
    </div>

    <div class="field">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" value="{{.form.Password}}" required minlength="8">
      {{range .verr.Get "password"}}
        <div class="error">{{.}}</div>
      {{end}}
    </div>


    <button type="submit" class="btn">Login</button>
    <a href="{{NewUserRegistrationPath}}">Sign up</a>
  </form>
</div>
{{template "layout_footer.html" .}}
