{{define "content"}}

<style>
  ol.years {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ol.years > li {
    margin-bottom: 2rem;
  }

   ol.years > li > h2 {
    font-size: 2rem;
    color: var(--light-text-color);
  }

  ol.books {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ol.books > li {
    margin: 1rem 0;
    display: grid;
   }

  ol.books time.finished, ol.books .media, ol.books .author {
    color: var(--light-text-color);
  }

  ol.books > li .title {
    display: block;
    font-weight: bold;
  }

@media (max-width: 32rem) {
  ol.years > li > h2 {
    margin: 0;
  }

  ol.books > li > .what {
    margin-left: 2rem;
  }
}

@media not (max-width: 32rem) {
  ol.books > li {
    display: grid;
    grid-template-columns: auto 1fr;
  }

  ol.years > li > h2 {
    margin: 0 0 0 9rem;
  }

  ol.books time.finished, ol.books .media {
    display: block;
    min-width: 8rem;
    text-align: right;
    margin-right: 1rem;
  }
}
</style>

{{ $username := .username }}

<div class="card">
  <h2>Books Per Year</h2>

  <dl>
    {{ range .BooksPerYear }}
      <dd>{{ .Year }}</dd>
      <dd>{{ .Count }}</dd>
    {{ end }}
  </dl>

</div>

<div class="card">
  {{ range .BooksForYears }}
    <ol class="years">
      <li>
        <h2>{{ .Year }}</h2>
        <ol class="books">
          {{ range .Books }}
            <li>
              <div class="when-and-how">
                <time class="finished"
                  datetime="{{ .DateFinished.Format "2006-01-02" }}"
                  title="{{ .DateFinished.Format "January 2, 2006" }}"
                >
                  {{ .DateFinished.Format "January 2" }}
                </time>
                <span class="media">
                  {{ if eq .Media "audiobook"  }}🎧{{ else if eq .Media "book" }}📖{{ else if eq .Media "video" }}📺{{ end }}
                </span>
              </div>
              <div class="what">
                <a class="title" href="{{ BookPath $username .ID }}">
                  {{ .Title }}
                </a>
                <div class="author">{{ .Author }}</div>
              </div>
            </li>
          {{end}}
        </ol>
      </li>
    </ol>
  {{end}}
</div>

{{end}}
