{{template "layout_header.html" .}}
<div class="card">
  <header>Sign Up</header>

  <form action="{{UserRegistrationPath}}" method="post">
    {{.bva.CSRFField}}

    <div class="field">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" value="{{.form.Username}}" autofocus required>
      {{range .verr.username}}
        <div class="error">{{.}}</div>
      {{end}}
    </div>

    <div class="field">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" value="{{.form.Password}}" required minlength="8">
      {{range .verr.password}}
        <div class="error">{{.}}</div>
      {{end}}
    </div>

    <button type="submit" class="btn">Sign up</button>
    <a href="{{NewLoginPath}}">Login</a>
  </form>
</div>
{{template "layout_footer.html" .}}
