{{template "layout_header.html" .}}
<div class="card">
  <header>Import Book CSV</header>

  <p>CSV must include header row.</p>
  <p>CSV must include 5 columns in order: title, author, date finished, format, and location.</p>

  <form enctype="multipart/form-data" action="{{ImportBookCSVPath .bva.PathUser.Username}}" method="post">
    {{.bva.CSRFField}}

    {{if .importErr}}
      <div class="error">{{.importErr}}</div>
    {{end}}

    <div class="field">
      <label for="file">Format</label>
      <input type="file" name="file" id="file" />
    </div>

    <button type="submit">Import</button>
  </form>
</div>
{{template "layout_footer.html" .}}
