{{.bva.CSRFField}}

<div class="field">
  <label for="title">Title</label>
  <input type="text" name="title" id="title" value="{{.form.Title}}" >
  {{range .verr.title}}
    <div class="error">{{.}}</div>
  {{end}}
</div>

<div class="field">
  <label for="author">Author</label>
  <input type="text" name="author" id="author" value="{{.form.Author}}" >
  {{range .verr.author}}
    <div class="error">{{.}}</div>
  {{end}}
</div>

<div class="field">
  <label for="finishDate">Finish Date</label>
  <input type="date" name="finishDate" id="finishDate" value="{{.form.FinishDate}}" >
  {{range .verr.finishDate}}
    <div class="error">{{.}}</div>
  {{end}}
</div>

<div class="field">
  <label for="format">Format</label>
  <select name="format" id="format">
    <option {{if eq .form.Format "text"}}selected{{end}}>text</option>
    <option {{if eq .form.Format "audio"}}selected{{end}}>audio</option>
    <option {{if eq .form.Format "video"}}selected{{end}}>video</option>
  </select>
  {{range .verr.format}}
    <div class="error">{{.}}</div>
  {{end}}
</div>

<div class="field">
  <label for="location">Location</label>
  <input type="text" name="location" id="location" value="{{.form.Location}}" >
  {{range .verr.location}}
    <div class="error">{{.}}</div>
  {{end}}
</div>

<button type="submit" class="btn">Save</button>
