{{template "layout_header.html" .}}
<div class="card">
  <h2>Confirm you want to delete this book?</h2>
  <dl>
    <dt>Title</dt>
    <dd>{{.book.Title}}</dd>
    <dt>Author</dt>
    <dd>{{.book.Author}}</dd>
    <dt>Finish Date</dt>
    <dd>{{.book.FinishDate.Format "January 2, 2006"}}</dd>
    <dt>Format</dt>
    <dd>{{.book.Format}}</dd>
  </dl>

  <form action="{{BookPath .bva.PathUser.Username .book.ID}}" method="post">
    <input type="hidden" name="_method" value="DELETE">
    {{.bva.CSRFField}}
    <button type="submit" class="btn">Delete</button>
  </form>
</div>
{{template "layout_footer.html" .}}
