<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Booklog</title>

    <!-- if development -->
    <script type="module" src="/@vite/client"></script>

    <link rel="stylesheet" href="/static/css/main.css">
  </head>
  <body>
    <header>
      <h1><a href="/">Booklog</a></h1>
      <nav>
        <ul>
         {{if .bva.PathUser}}
            <li><a href="{{NewBookPath .bva.PathUser.Username}}">New Book</a></li>
            <li><a href="{{ImportBookCSVFormPath .bva.PathUser.Username}}">Import</a></li>
            <li><a href="{{ExportBookCSVPath .bva.PathUser.Username}}">Export</a></li>
          {{end}}
          {{if .bva.CurrentUser}}
            <li>
              <form action="{{LogoutPath}}" method="POST" class="link">
                {{.bva.CSRFField}}
                <button class="link">Logout</button>
              </form>
            </li>
          {{else}}
            <li><a href="{{NewLoginPath}}">Login</a></li>
          {{end}}
        </ul>
      </nav>
    </header>
    <div class="content">
