package view

import (
	"github.com/jackc/booklog/route"
)

func UserRegistration(w io.Writer, bva *BaseViewArgs, form data.RegisterUserArgs, verr validate.Errors) error
---
<% LayoutHeader(w, bva) %>
<div class="card">
  <header>Sign Up</header>

  <form action="<%= route.UserRegistrationPath() %>" method="post">
    <%=raw bva.CSRFField %>

    <div class="field">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" value="<%= form.Username %>" autofocus required>
      <% if errs, ok := verr["username"]; ok { %>
        <% for _, e := range errs { %>
          <div class="error"><%= e.Error() %></div>
        <% } %>
      <% } %>
    </div>

    <div class="field">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" value="<%= form.Password %>" required minlength="8">
      <% if errs, ok := verr["password"]; ok { %>
        <% for _, e := range errs { %>
          <div class="error"><%= e.Error() %></div>
        <% } %>
      <% } %>
    </div>

    <button type="submit" class="btn">Sign up</button>
    <a href="<%= route.NewLoginPath() %>">Login</a>
  </form>
</div>
